<%= form_for @member, :html => { :class => "form-horizontal member" } do |f| %>

    <% if @member.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
 
  <div class="control-group col-lg-12">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@member[:name]) %>
  </div>
  <div class="control-group col-lg-12">
    <%= f.label :birthdate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :birthdate, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:birhdate]) %>
  </div>
  <div class="control-group col-lg-8">
    <%= f.label :address_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_name, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:address_name]) %>
  </div>
  <div class="control-group col-lg-4">
    <%= f.label :address_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :address_number, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:address_number]) %>
  </div>
  <div class="control-group col-lg-8">
    <%= f.label :address_complement, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_complement, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:address_complement]) %>
  </div>
  <div class="control-group col-lg-4">
    <%= f.label :address_zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_zip_code, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:address_zip_code]) %>
  </div>
  <div class="control-group col-lg-12">
    <%= f.label :teams, :class => 'control-label' %>
    <div class="controls" >
      <%= f.select :team_ids, Team.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, style: "width: 100%" %>
    </div>
    <%= error_span(@member[:teams]) %>
  </div>

  <div class="control-group col-lg-12">
    <%= f.label :observation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observation, :class => 'form-control' %>
    </div>
    <%= error_span(@member[:observation]) %>
  </div>
  

  
    <div class="btn-group col-lg-12">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn btn-default' %>
    </div>
  

<% end %>
